<% remote_form_for(@comment ||= Comment.new,
  :before => "Element.hide('submit-comment'); Element.show('spinner')",
  :complete => "Element.show('submit-comment'); Element.hide('spinner');") do |f| %>
  <fieldset><legend>Añade tu comentario</legend>
    <%= render :partial => 'shared/remote_errors', :object => @comment.errors.full_messages %>
    <p>
      <%= f.label :name, 'Nombre' %><br />
      <%= f.text_field :name, :class => 'text', :tabindex => 1 %>
    </p>
    <p>
      <%= f.label :email, 'Email' %> <span class="small quiet">(no será publicado)</span><br />
      <%= f.text_field :email, :class => 'text', :tabindex => 2 %>
    </p>
    <p>
      <%= f.label :site_url, 'URL' %><br />
      <%= f.text_field :site_url, :class => 'text', :tabindex => 3 %>
    </p>
    <p>
      <%= f.label :content, 'Comentario' %>
      <span class="small quiet">(<%= link_to 'textile', 'http://hobix.com/textile/', :target => '_blank' %> está activado)</span><br />
      <%= f.text_area :content, :cols => 70, :rows => 10, :tabindex => 4 %>
    </p>
    <p>
      <%= button "#{icon 'comment_add'} Comentar!", :class => 'positive', :id => 'submit-comment', :tabindex => 5 %>
      <%= image_tag 'loading.gif', :alt => 'cargando...', :id => :spinner, :style => 'display:none' %>
    </p>
  </fieldset>
<% end %>