<p><%= form.label :login, 'Usuario' %><br/>
<%= form.text_field :login, :class => 'title span-1' %></p>

<p><%= form.label :name, 'Nombre' %><br/>
<%= form.text_field :name, :class => 'text span-1' %></p>

<p><%= form.label :email, 'Email' %><br/>
<%= form.text_field :email, :class => 'text' %></p>

<p><%= form.label :password, 'Contraseña' %><br/>
<%= form.password_field :password, :class => 'text span-1' %></p>

<p><%= form.label :password_confirmation, 'Confirma tu contraseña' %><br/>
<%= form.password_field :password_confirmation, :class => 'text span-1' %></p>