<h2><%= title 'Nueva noticia' %></h2>
<%= render :partial => 'uploads/new' %>

<%= error_messages_for :new, :class => 'error' %>

<% form_for :new, :url => news_index_path do |f| %>
  <%= render :partial => f %>
  <p class="clearfix">
    <%= button 'Publicar', :class => :positive, :name => 'publish' %>
    <%= button 'Previsualizar', :name => 'preview' %>
    <%= link_button_to 'Cancelar', news_index_path, :class => 'negative' %>
  </p>
<% end %>
