<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="ruby on rails,mexico,desarrollo web,mvc,comunidad,español" />
    <meta name="Description" content="Comunidad de desarrolladores Rails en México. Sube tus propios artículos y tutoriales, comparte tus plugins y aplicaciones hechas con Rails." />
    <meta name="Abstract" content="Evangelizando a México con Ruby on Rails" />
    <meta name="Distribution" content="Global" />
    <meta name="Category" content="Development" />
    <meta name="Language" content="es-mx" />
    <meta name="Identifier-Url" content="http://mexicoonrails.com.mx" />
    <meta name="Rating" content="General" />
    <meta name="Robots" content="index,follow" />
    <title>mxor :: <%= yield(:title) || 'Evangelizando a México con Ruby on Rails' %></title>
    <%= stylesheet_link_tag 'screen', :media => :screen %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    <!--if [IE]>
			<%= stylesheet_link_tag 'ie', :media => :screen %>
    <![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= include_tiny_mce_if_needed %>
    <%= ajaxful_rating_style %>
    <%= yield(:head) %>
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <div id="wrapper" class="container">
      <div id="header">
        <h1>mxor</h1>
        <h2>Evangelizando a México con Ruby on Rails</h2>
				<%= link_to image_tag('blank.gif', :alt => ''), root_path, :id => 'mxor-logo' %>
        <ul id="menu">
          <li><%= link_to 'Noticias', news_index_path %></li>
          <li><%= link_to 'Artículos', articles_path %></li>
          <li><%= link_to 'Repositorio', apps_path %></li>
          <li><%= link_to 'Comentarios', comments_path %></li>
          <% if logged_in? %>
            <li class="spacer"> || </li>
            <li><%= link_to 'Tu perfil', profile_path(current_user.login) %></li>
            <li><%= link_to 'Salir', logout_path %></li>
          <% end %>
        </ul>
        <div class="clear"></div>
        <%= render :partial => 'users/user_bar' %>
      </div>
      <div class="span-4 last">
        <p class="prepend-top">&nbsp; </p>
        <% flash.each do |key, msg| %>
          <%= content_tag :div, msg, :class => key %>
        <% end %>
        <div class="content-border">
          <div class="content">
            <%= yield %>
            <div class="clear">&nbsp;</div>
          </div>
        </div>
        <div class="sidebar-border">
          <div class="sidebar">
            <%=  yield(:sidebar) ||
              content_tag(:h3, 'Sabías que..?', :class => 'alt') +
              ((random = QuickTip.random).nil? ? 'No hay tips para mostrar.' : random.content) %>
          </div>
        </div>
      </div>
      <div class="push">&nbsp;</div>
    </div>
    <div class="clear"></div>
    <div id="footer">
      <div class="container">
        <div class="span-2">
          <div class="span-1">
            <h4 class="alt">Síguenos en Twitter</h4>
            <%= link_to image_tag('twitter.png'), 'http://twitter.com/mxor', :target => '_blank', :title => 'Síguenos en Twitter' %>
          </div>
          <div class="span-1 last">
            <h4 class="alt">Enlaces</h4>
            <% unless (@links = Page.all_published).empty? %>
              <ul>
								<li><%= link_to 'Lista de correo', 'http://groups.google.com/group/mxor',
								 	:title => 'Unete a la lista de correo' %></li>
                <% @links.each do |page| %>
                  <li><%= link_to page.title, page_path(page.permalink) %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="span-2 last prepend-top text-center alt">
            <p>
              <% admin do %>
                <span class="prepend-top small-caps">Administración</span><br />
                <%= link_to 'Publicar Noticia', new_news_path %> |
                <%= link_to 'Administrar Páginas', pages_path %> |
                <%= link_to 'Quick Tips', quick_tips_path %>
              <% end %>
            </p>
            <p><span class="prepend-top small-caps">Suscríbete! rss 2.0</span><br />
              <%= link_to "#{icon 'feed', :height => 10} Noticias", "http://feeds2.feedburner.com/MexicoOnRails" %> |
              <%= link_to "#{icon 'feed', :height => 10} Artículos", "http://feeds2.feedburner.com/mxor/articulos" %> |
              <%= link_to "#{icon 'feed', :height => 10} Repositorio", "http://feeds2.feedburner.com/mxor/repo" %> |
              <%= link_to "#{icon 'feed', :height => 10} Comentarios", "http://feeds2.feedburner.com/mxor/comentarios" %></p>
          </div>
        </div>
        <div class="span-2 last">
          <h4 class="alt">Ultimas noticias</h4>
          <% unless (@recent ||= New.recent).empty? %>
            <dl>
              <% @recent.each do |new| %>
                <dt><%= link_to new.title, news_path(new) %></dt>
                <dd><%= truncate new.content.gsub(/<\/?[^>]*>/, ''), :length => 255, :omission => "... #{link_to 'Leer todo', news_path(new)}" %></dd>
              <% end %>
            </dl>
          <% else %>
            <p class="alt">No hay noticias.</p>
          <% end %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2699673-9");
        pageTracker._trackPageview();
    </script>
  </body>
</html>
